.App {
  text-align: center;
}

.me-auto {
  color: aliceblue;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}


.main-bg{
  height: 500px;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
}

.rows {
  margin-top: 20px;
}

.navmenu {
  color: aliceblue;
  margin: auto 10px auto 10px;
  text-decoration: none;
}

.navmenu:hover {
  color: rgb(250, 250, 37);
  text-decoration: underline;
}